{% extends 'base.html' %}
{% load socialaccount %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-sm border-light rounded">
            <div class="card-body">
                <h4 class="text-center text-success mb-4">Create an Account</h4>

                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }} <!-- Render the form fields automatically -->

                    <button type="submit" class="btn btn-success btn-block mb-3">Sign Up</button>
                </form>

                <div class="text-center mt-3">
                    <p>Or sign up with:</p>
                    <a href="{% provider_login_url 'google' %}" class="btn btn-danger btn-block mb-3">
                        <i class="fab fa-google"></i> Sign up with Google
                    </a>
                </div>

                <p class="text-center mt-3">Already have an account? <a href="{% url 'account_login' %}">Login here</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
