{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-body">
                <h4 class="text-center">Login to Agri-Match</h4>

                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success btn-block">Login</button>
                </form>

                <p class="text-center mt-3">Don't have an account? <a href="{% url 'account_signup' %}">Sign up here</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
